<form method="post">
    <p>
        <input type="text" name="items" />
    </p>
    <p>
        <input type="text" name="items" />
    </p>
    <p>
        <input type="text" name="items" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>